{{!-- Jumbotron --}}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Burgers</h1>
    <p class="lead">What kind of burger would you like?</p>
  </div>
</div>

{{!-- Form for Submitting a Burger --}}
<form class="form-inline make-burger">
  <div class="form-group mx-sm-3 mb-2">
    <label for="burgerForm" class="sr-only">Burger</label>
    <input type="text" class="form-control" id="burgerForm" name="name" placeholder="Burger">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>

{{!-- Listing of uneaten burgers --}}
<h3 class="burger-header">Uneaten</h3>
<ul class="list-group">
  {{#each uneatenBurger}}
    {{> burgers/uneaten-block}}
  {{/each}}
</ul>

{{!-- Listing of eaten burgers --}}
<h3 class="burger-header">Devoured</h3>
<ul class="list-group">
  {{#each eatenBurger}}
      {{> burgers/eaten-block}}
  {{/each}}
</ul>