<h1>Burgers</h1>

<h2>What kind of burger would you like?</h2>

<h3>uneaten</h3>
<ul>
  {{#each uneatenBurger}}
    {{> burgers/uneaten-block}}
  {{/each}}
</ul>

<h3>devoured</h3>
<ul>
  {{#each eatenBurger}}
      {{> burgers/eaten-block}}
  {{/each}}
</ul>

<form class="make-burger">

  <div class="form-group">
    <label for="burgerForm">Add a Burger:</label>
    <input type="text" id="burgerForm" name="name">
  </div>

  <button type="submit">Submit</button>
</form>